<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="ion-text-left">
      <ion-title>
        <h4><strong> SkeletonAPP </strong></h4>
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-text-center">
    <h1>Bienvenido!</h1>
    <br>
  </div>
  <h6> Usuario: {{usuario}}</h6>
  <ion-item>
    <ion-label slot="start">Nombre:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Apellido:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Nivel Educacional:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label slot="start">Fecha de Nacimiento:</ion-label>
    <ion-input></ion-input>
  </ion-item>
</ion-content>